@font-face {
  font-family: "Netflix Sans Regular";
  src: url("./assets/fonts/NetflixSansRegular.woff");
}

html,
body {
  font-family: "Netflix Sans Regular";
  margin: 0;
}

.desc-container {
  color: white;
  display: flex;
  flex-direction: column;
  width: 600px;
  font-size: 1.5rem;
}

.desc-container img {
  width: 100%;
}

.desc-container p {
  margin: 0;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.play-btn {
  width: 300px;
  padding: 15px 30px 15px 30px;
  font-weight: 600;
  font-size: 1.5em;
  background-color: white;
  border: none;
  border-radius: 5px;
  margin: 20px;
  font-size: 1.2rem;
}

.info-btn {
  background-color: rgba(74, 82, 87, 0.5);
  color: white;
}

@media (max-width: 800px) {
  .desc-container {
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .desc-container p {
    font-size: 1rem;
    text-align: center;
    margin: 20px 0 20px 0;
  }

  .btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .play-btn {
    font-size: 0.8rem !important;
    width: 200px;
    padding: 15px 30px 15px 30px;
    font-weight: 600;
    font-size: 1em;
    background-color: white;
    border: none;
    border-radius: 5px;
    margin: 10px;
  }

  .info-btn {
    background-color: rgba(74, 82, 87, 0.5);
    color: white;
  }
}
